@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Arimo&family=Montserrat:wght@600&family=Barlow&family=Hind&family=Homemade+Apple&family&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



.App {
 background-color: #f4f6e9;
 display: flex;
 flex-direction: column;
 align-items: center;
}

header {
  background-color:#217461;
  width: 1028px;
  height: 150px;
  text-align: center;
  
}

nav, nav>a, nav>a:link, nav>a:visited{
  background-color:#217461;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 130px;
  color: white;
}
main {
  width: 1028px;
  height: 1000px;
  background-color: #fefff8;
  text-align: center;
}

ul{
  list-style: none;
}
.input{
  padding: 10px;
  margin: 10px;
  width: 500px;
  border: 1px solid #217461;
  background-color: #fefff8;
  border-radius: 5px;
}
.button, input[type="submit"]{
  margin-top: 50px;
  background-color: #217461;
  color: white;
  width:500px;
}
#update-button, #delete-button{
  margin-left: 55px;
 }
a:link, a:visited{
  text-decoration: none;
  font-weight: 600;
  color:black;
}
.index-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 80px;
}
#home-container{
  margin: 50px;
  display: flex;
  gap: 10px;
  font-family: 'Barlow', sans-serif;
}
.content-margin{
  margin:0;
}
.topics, .topics > p{
  border: 5px solid #e7eed6;
  width: 180px; 
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #e7eed6;
  font-size: 14px;
}
#icon{
  width: 170px;
  height: 170px;
  background-color: white;
}
#icon>img{
  width: 140px;
}
#image{
  margin: 30px;
  width: 500px;
}
#logo{
  width: 300px;
  margin: 10px;
}
.content-margin{
 margin:50px;
}
#list{
  text-align: center;
  width: 490px;
  margin-left: 270px;
  border-radius: 10px;
  background-color: #e7eed6;
  padding: 15px;
}
#click{
  color:#3498a2;
  animation: blinker 2s infinite;
  font-weight: 600;
}

#resource-list{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width:500px;
  margin-left: 50px;
}

#intro{
  width: 400px;
  padding: 30px;
  text-align: left;
}

footer {
  width: 1028px;
  height: 100px;
  
  text-align: center;
  font-size: 10px;
}

iframe{
  margin: 50px;
  text-align: center;
}
#intro{
  width: 400px;
}

.home-text{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title{
  color: #3498a2;
}
#text{
  width: 540px;
  text-align: left;
  font-weight: 600;
  color: black;
}

/* home text animation */
.animate {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 3s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*home image animation*/
.grid-container {
  width:980px;
  margin:50px 0 0 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:white;
  border: 10px solid #e7eed6;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.div1{
  animation: fade 5s ease;
}
.div2{
  animation: blinker 2s ease;
  
}
.div3{
  animation: fade 10s ease;
 
}
.div4{
  animation: blinker 3s ease ;
}
.div5 {
  animation: fade 8s ease ;
  grid-column: 1 / span 3;
}
.div6{
  animation: blinker 1.5s infinite ;
}
.div7{
  animation: fade 13s ease ;
}
.div8{
  animation: blinker 5s ease ;
}
.div9{
  animation: fade 8s ease ;
}
.div10{
  animation: fade 15s ease ;
}
#div11{
  visibility: hidden;
  height:10px;
  animation: blinker 1.5s infinite ;
}
  

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fade{

     0% {opacity: 0;}
    100% {opacity: 1;}
}



@media screen and (max-width: 600px) {
    html,body{
    overflow-x: hidden;
    }
    body{
      width:400px;
    }  
  
    header{
      width: 100%;
      height: 200px;

    }
    nav>a{
      font-size: 15px;
    }
    main{
      width:390px;
      height: 800px;
    }
    #logo{
      width: 90%;
    }
    nav{
      gap: 40px;
      font-size: 20px;
    }

    .index-container{
      width: 350px;
      margin: 10px;
    }
    .content-margin{
      margin: 30px;
    }
   
    .topics, .topics > p{
      border: 4px solid  #e7eed6;
      width: 90px; 
      height:120px;
      font-size: 10px;
    }
    #icon{
      width: 80px;
      height:100px;
      background-color: white;
    }
    #icon>img{
      width: 70px;
      height:70px;
    }

    #home-container{
      flex-direction: column-reverse;
      margin:0px;
    }

    #text{
      width:300px;
    }
    
    div > input[type=text], form > input[type=text]{
      
      width: 300px;
      border: 1px solid #217461;
      border-radius: 5px;
    }
    #image{
      width: 350px;
      margin: 0px;
    }

    .grid-container{
      visibility: hidden;
    }
    #div11{
      margin-top: 50px;
      visibility: visible;
      height: 80%;
      animation: blinker 2s 3 ;

    }

    iframe{
      width: 350px;
      height: 200px;
      align-self: center;
      margin: 30px;
    }
    #intro{
      margin:0;
      padding: 30px 30px 0px 30px;
    }
    #list{

      width:400px;
    }
    
   #add-button{
    margin-left:15px;
    width:300px;
   }
   #edit-button{
    margin-left:35px;
    width:300px;
   }
   #update-button{
    margin-left:70px;
    width:300px;
   }
   #delete-button{
    margin-top: 0px;
    margin-left: 70px;
    width:300px;
   }
   

 
  }

